html{font-size: 8px;}
@media only screen and (min-width: 320px){html{font-size: 10px !important;}}
@media only screen and (min-width: 530px){html{font-size: 12px !important;}}
@media only screen and (min-width: 630px){html{font-size: 14px !important;}}
@media only screen and (min-width: 730px){html{font-size: 16px !important;}}

*{margin: 0px;padding: 0px;}
/*头部*/
header{width: 100%;height:80px;background: #91D4DA;}
header .p01{font-size: 32px;color: #fff;font-weight: bolder;text-align: left;margin-top:22px;float: left;}
header img{width:40px;height:40px;padding-left: 10px;margin-top: 20px;float: left;}
header .p02{font-size: 38px;color: #fff;font-weight: bolder;text-align: center;padding-top: 20px;}

/*导航菜单*/
nav ul{width:100%;height:80px;list-style: none;}
nav ul li{width: 20%;height: 56px;border-bottom: 4px solid #fff;float: left;text-align: center;padding-top: 20px;}
nav ul .li01{border-bottom: 8px solid #91D4DA;}
nav ul li a{text-decoration: none;font-size: 30px;font-family: "微软雅黑";color: #666;}
.image img{width: 100%;height: 100%;}

/*标签部分*/
.tab {width: 100%;height:100%;margin-top: 20px;}
.tab ul{list-style: none;}
.tab ul li{width: 20%;height: 100%;float: left;}
.tab ul li img{width:45%;height: 120%;margin-left: 25%;}
.tab ul li aside{font-size:1.8rem;font-family: "微软雅黑";font-weight:bolder;text-align: center;margin-top: 10px;}

/*分栏部分*/
.heng{width: 96%;height: 4px;margin-top:20%;margin-left:2%;background: #DEDEDE;}
.fen{width: 100%;}
.fen ul{list-style: none;}
.fen ul li{width:32.8%;height:100%;margin-top:1.5%;float: left;}
.fen ul li:not(:last-child){border-right: 1px solid #dedede;}
.fen ul li .img01{margin-top: 1%;}
.fen ul li .img02{margin-top: 15%;}
.fen img{width: 80%;height: 80%;margin-left: 10%;}
.fen ul li p{ font-size:2.0rem;font-weight:bolder;text-align: center;}
.fen ul li p:last-child{font-size:2.5rem;color: #666;font-family: "黑体";}

/*文案部分*/
.fendi{width: 100%;height: 30px;background: #cccccc;margin-top: 35%;}




